@import "config";

body, html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: $text-color;
  background: $secondary-background;
  font-family: Roboto, Arial, sans-serif;
}

.resize-ew * {
  cursor: ew-resize;
}

* {
  box-sizing: border-box;
}

input {
  padding: 0.2rem;
  background: $primary-background;
  color: $text-color;
  border-radius: $border-radius;
  outline: none;
  border: solid 1px $border-color;
  &:focus {
    border-color: $toolbar-color;
  }
  &.invalid {
    border-color: $error-primary !important;
    background: $error-secondary !important;
  }
}

.input-view {
  position: relative;
  .autocomplete {
    background: $primary-background;
    border: solid 1px $border-color;
    width: 100%;
    position: absolute;
    z-index: 10;
    line-height: 2rem;
    &:empty {
      display: none;
    }
    .text-view {
      display: block;
      padding: 0.2rem 0.5rem;
      &:hover {
        background: rgba($text-color, 0.1);
      }
      &.selected-view {
        background: rgba($toolbar-color, 0.1);
      }
    }
  }
}

select {
  padding: 0.2rem;
  background: $primary-background;
  color: $text-color;
  border-radius: $border-radius;
  outline: none;
  border: solid 1px $border-color;
  &:focus {
    border-color: $toolbar-color;
  }
  &.invalid {
    border-color: $error-primary !important;
    background: $error-secondary !important;
  }
}

.color-box {
  position: fixed;
  top: -10px;
  left: -10px;
  width: 1px;
  height: 1px;
  background: $primary-background;
  color: $text-color
}

.application {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $menu-bar-height;
  line-height: $menu-bar-height;
  background: $primary-background;
  z-index: 3;
  border-bottom: solid 1px $border-color-light;
  padding-left: 0.5rem;
  & > div {
    float: left;
    & > .icon-view {
      display: none;
    }

    & > span {
      position: relative;
      top: -1px;
    }

    &:hover >  div {
      display: none;
    }
    &.show >  div {
      display: block;
    }
  }
  @include no-select();
}

.tab-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $tab-bar-height;
  background: $secondary-background;
  clear: both;
  border-top: solid 1px $border-color-light;
  padding: 0 0.4rem;
  z-index: 1;
}
.tab {
  height: $tab-bar-height;
  line-height: $tab-bar-height;
  float: left;
  padding: 0 0.6rem;
  background: $tertiary-background;
  border-right: solid 1px $border-color-light;
  &:first-child {
    border-left: solid 1px $border-color-light;
  }
  .text-view {
    padding-right: 0.4rem;
    float: left;
    margin-top: -0.05rem;
  }
  .icon-view {
    font-size: 0.8rem;
    float: left;
    margin-top: -0.02rem;
  }
  &.selected {
    background: $primary-background;
  }
}

.workspace-container {
  position: absolute;
  top: $top-height;
  left: 0;
  bottom: 0;
  right: $sidebar-width;
  z-index: 0;
}

.workspace {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: $tab-bar-height;
}


.menu {
  position: relative;
  span:not(.icon-view) {
    display: block;
    padding: 0 0.8rem;
    &:hover {
      background: rgba($text-color, 0.1);
    }
  }
  .icon-view {
    position: absolute;
    top: 0;
    right: 0.2rem;
  }
  & > div {
    background: $primary-background;
    min-width: 10rem;
    position: absolute;
    z-index: 5;
    display: none;
    border: solid 1px $border-color;

    padding: 0.4rem 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  }
  &:hover > div {
    display: block;
  }
  .menu > div {
    left: 100%;
    top: 0;
    margin-left: -1rem;
    margin-top: -1px;
  }
}

.tool-bar {
  //background: linear-gradient(to bottom, $toolbar-color 0%, darken($toolbar-color, 1%) 100%);
  background: $secondary-background;
  color: $icon-color;
  position: absolute;
  top: $menu-bar-height;
  left: 0;
  width: 100%;
  height: $toolbar-height;
  line-height: $toolbar-height;
  z-index: 2;
  font-size: 1.1rem;
  border-bottom: solid 1px $border-color-light;

  padding: 0 0.5rem;

  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  @include no-select();
}

.left-bar {
  float: left;
}

.right-bar {
  float: right;
}

.left-bar, .right-bar {
  & > .separator {
    border-right: solid 1px $border-color-light
  }
  & > * {
    float: left;
  }
  & > .icon-view {
    font-size: 1.25rem;
  }
  & > span {
    height: $toolbar-height;
    line-height: $toolbar-height;
    padding: 0 .6rem;
    display: block;
    &:hover {
      background: $toolbar-hover
    }
  }
  & > select {
    margin: 0.5rem;
  }
}

.property-bar {
  position: absolute;
  top: $top-height;
  right: 0;
  bottom: 0;
  width: $sidebar-width;
  overflow-x: hidden;
  overflow-y: scroll;
  background: $secondary-background;
  z-index: 1;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14);
  border-left: solid 1px $border-color-light;
  &.hide {
    overflow-y: hidden;
  }
}

.property-bar-resizer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0.4rem;
  z-index: 2;
  background: transparent;
  cursor: ew-resize;
  &:hover, &.mouse-down {
    background: rgba($text-color, .1);
  }
}

.context-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  & > div {
    position: absolute;
    background: $primary-background;
    color: $text-color;
    border: solid 1px $border-color;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    border-radius: $border-radius;
    min-width: 12rem;
    & > span {
      padding: 0.5rem;
      display: block;
      border-bottom: solid 1px $border-color-light;
    }
    & > div {
      line-height: 2.2rem;

      .icon-view {
        width: 1.8rem;
        height: 2.2rem;
        display: inline-block;
        text-align: center;
        float: left;
      }
      .text-view {
        padding-right: 1rem;
        display: inline-block;
      }

      &:hover {
        background: $main-hover
      }
      &:first-of-type {
        margin-top: 0.4rem
      }
      &:last-of-type {
        margin-bottom: 0.4rem
      }
    }
  }
}

table {
  border-collapse: collapse;
}

.sidebar {
  padding-top: 1rem;

  & > div {
    border-bottom: solid 1px $border-color-light;
  }

  .header {
    font-size: 1.3rem;
    padding: 0.5rem;
    display: block;
  }

  .sidebar-group {
    padding: 0.5rem 0.5rem 0.3rem;

    & > div {
      margin-bottom: 0.5rem;
      height: 100%;
      opacity: 1;
      max-height: 100px;
      clear: both;
      transition: margin-bottom 200ms, max-height 200ms, opacity 200ms;
      position: relative;

      &:last-child {
        margin-bottom: 0.65rem;
      }

      span {
        padding: 0.2rem;
      }
      input, select {
        width: 100%;
      }
      .group-header {
        font-size: 1.1rem;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 1rem;
        @include no-select;
      }
      .collapse-icon {
        margin-top: -0.1rem;
        font-size: 1.2rem;
        position: absolute;
        right: 0;
        top: 0.2rem;
        transform: rotate(0);
        transition: transform 0.2s, top 0.2s;

        @include no-select;

        &.rotate-180 {
          transform: rotate(-180deg);
          top: 0.03rem
        }
      }
      .button {
        width: 100%;
        background: $dialog-background;
      }
    }
    &.collapsed {
      & > div:not(:first-child) {
        //display: none;
        margin-bottom: 0;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
      }
      & > div:first-child {
        margin-bottom: 0;
      }
    }
  }

  table {
    padding: 0;
    margin: 0;
    width: 100%;
    tr {
      padding: 0;
      margin: 0;
      td {
        padding: 0;
        margin: 0;
      }
    }
    input {
      width: 100%;
    }
  }
}

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dialog-window {
  position: absolute;
  background: $primary-background;
  color: $text-color;
  border: solid 1px $border-color;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  border-radius: $border-radius;
  min-width: 12rem;
}

.dialog-title {
  line-height: 2.5rem;
  display: block;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem 0;
}

.dialog-content {
  padding: 0.5rem;
}

.dialog-button {
  padding: 0 0.3rem;
  white-space: nowrap;
  text-align: right;
  .button {
    display: inline-block;
    margin: 0.5rem 0.3rem;
  }
}

.button {
  min-width: 5rem;
  line-height: 2.3rem;
  padding: 0 1rem;
  text-align: center;
  display: block;
  border-radius: $border-radius;
  @include no-select();
  border: solid 1px $border-color;
  outline: none;

  background: $secondary-background;
  color: $text-color;

  box-shadow: 0 1px 4px rgba(0, 0, 0, .14);

  &.primary {
    background: $toolbar-color;
    color: $toolbar-text;
  }
  &.alert {
    background: $alert-primary;
    color: $alert-text;
  }
  &.error {
    background: $error-primary;
    color: $error-text;
  }
}

.icon-view {
  color: $icon-color;

  &:hover {
    color: $icon-color-focus;
  }

  &.inactive {
    color: $icon-color-inactive;

    &:hover {
      color: $icon-color-inactive;
    }
  }
}

.cyclic-chooser {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($text-color, 0.1);

  & > div {
    position: absolute;

    & > div {
      position: absolute;
      background: $primary-background;
      border: solid 1px $border-color-light;
      border-radius: $border-radius;
      padding: 0.5rem;
      overflow: hidden;
      text-align: center;
      * {
        white-space: nowrap;
      }

      &:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($text-color, 0.05);
      }
    }
  }
}
