$border-color: #000;

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body, html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  font-family: "RobotoMono Nerd Font", Roboto, Arial, sans-serif;
}

.compartment-type-view {
  display: inline-block;
  background: #B3E5FC;
  border: solid 1px $border-color;
  border-radius: 0.2rem;
  position: absolute;
  & > div {
    padding: 0.4rem;
    &:not(:last-child) {
      border-bottom: solid 1px $border-color;
    }
  }
}

.attribute-view {
  display: block;
}

.method-view {
  display: block;
}

.text-view {
  width: 100%;
  display: inline-block;
  line-height: 100%;
  text-overflow: ellipsis;
}

.text-view[contenteditable="true"]:focus {
  background: white;
}

.text-view[contenteditable="true"]:not(:focus) {
  @include no-select
}

[contenteditable="true"].single-line {
  white-space: nowrap;
  overflow: hidden;
}

[contenteditable="true"].single-line br {
  display: none;
}

[contenteditable="true"].single-line * {
  display: inline;
  white-space: nowrap;
}

.navigation-view {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  & > div {
    min-width: 100%;
    min-height: 100%;
    & > div {
      position: relative;
    }
  }
}