$main-color: #2196F3;
$main-text: #FFFFFF;

$uml-color: #E3F2FD;
$uml-border: #000;

$primary-background: #FFFFFF;
$secondary-background: #EEEEEE;
$text-color: #111;
$border-color: #bbb;

$toolbar-height: 3.5rem;
$border-radius: 0.2rem;

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body, html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: $text-color;
  background: $secondary-background;
  font-family: Roboto, Arial, sans-serif;
}

.class-view {
  display: inline-block;
  background: $uml-color;
  border: solid 1px $uml-border;
  border-radius: 0.2rem;
  position: absolute;
  z-index: 1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .14);
  & > div {
    padding: 0.4rem;
    &:not(:last-child) {
      border-bottom: solid 1px $uml-border;
    }
  }
}

.container-view {
  display: inline-block;
  background: $uml-color;
  border: solid 1px $uml-border;
  position: absolute;
  z-index: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .14);
  & > div {
    padding: 0.4rem;
    &:not(:last-child) {
      border-bottom: solid 1px $uml-border;
    }
  }
}

.attribute-view {
  display: block;
}

.method-view {
  display: block;
}

.navigation-view {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: $primary-background;
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-image: linear-gradient($secondary-background 2px, transparent 2px),
  linear-gradient(90deg, $secondary-background 2px, transparent 2px),
  linear-gradient($secondary-background 1px, transparent 1px),
  linear-gradient(90deg, $secondary-background 1px, transparent 1px);

  * {
    font-family: "RobotoMono Nerd Font", Roboto, Arial, sans-serif;
  }

  & > div {
    min-width: 100%;
    min-height: 100%;
    & > div {
      position: relative;
    }
  }
  input {
    display: block;
  }
}

input {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  &:focus {
    background: $primary-background;
  }
}

.application {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.toolbar {
  background: $main-color;
  color: $main-text;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $toolbar-height;
  line-height: $toolbar-height;
  z-index: 1;
  font-size: 1.1rem;

  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.left-bar {
  float: left;
  span {
    height: $toolbar-height;
    line-height: $toolbar-height;
    padding: 0 .6rem;
    display: inline-block;
    &:hover {
      background: rgba(0, 0, 0, .1);
    }
  }
}

.right-bar {
  float: right;
  font-size: 1.3rem;

  span {
    height: $toolbar-height;
    line-height: $toolbar-height;
    width: 3rem;
    text-align: center;
    display: inline-block;
    &:hover {
      background: rgba(0, 0, 0, .1);
    }
  }
}

.workspace {
  position: absolute;
  top: $toolbar-height;
  left: 0;
  bottom: 0;
  width: 100%;
}

.context-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  & > div {
    position: absolute;
    background: white;
    border: solid 1px $border-color;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    border-radius: $border-radius;
    min-width: 12rem;
    & > span {
      padding: 0.5rem;
      display: block;
      border-bottom: solid 1px $border-color;
    }
    & > div {
      line-height: 2.2rem;

      .icon-view {
        width: 1.8rem;
        height: 2.2rem;
        display: inline-block;
        text-align: center;
        float: left;
      }
      .text-view {
        padding-right: 1rem;
        display: inline-block;
      }

      &:hover {
        background: rgba(0, 0, 0, .05);
      }
      &:first-of-type {
        margin-top: 0.4rem
      }
      &:last-of-type {
        margin-bottom: 0.4rem
      }
    }
  }
}