$border-color: #000;
$main-color: #2196F3;
$light-color: #E3F2FD;
$text-color: #111;

$tabber-height: 3.5rem;

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body, html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: $text-color;
}

* {
  font-family: "RobotoMono Nerd Font", Roboto, Arial, sans-serif;
}

.class-view {
  display: inline-block;
  background: $light-color;
  border: solid 1px $border-color;
  border-radius: 0.2rem;
  position: absolute;
  z-index: 1;
  & > div {
    padding: 0.4rem;
    &:not(:last-child) {
      border-bottom: solid 1px $border-color;
    }
  }
}

.container-view {
  display: inline-block;
  background: $light-color;
  border: solid 1px $border-color;
  position: absolute;
  z-index: 1;
  & > div {
    padding: 0.4rem;
    &:not(:last-child) {
      border-bottom: solid 1px $border-color;
    }
  }
}

.attribute-view {
  display: block;
}

.method-view {
  display: block;
}

.navigation-view {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  & > div {
    min-width: 100%;
    min-height: 100%;
    & > div {
      position: relative;
    }
  }
}

input {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  &:focus {
    background: white;
  }
}

.application {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.toolbar {
  background: $main-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $tabber-height;
  line-height: $tabber-height;
  z-index: 1;
  font-size: 1.1rem;

  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.left-bar {
  float: left;
  span {
    height: $tabber-height;
    line-height: $tabber-height;
    padding: 0 .6rem;
    display: inline-block;
    &:hover {
      background: rgba(0,0,0,.1);
    }
  }
}

.right-bar {
  float: right;
  font-size: 1.3rem;

  span {
    height: $tabber-height;
    line-height: $tabber-height;
    width: 3rem;
    text-align: center;
    display: inline-block;
    &:hover {
      background: rgba(0,0,0,.1);
    }
  }
}

.workspace {
  position: absolute;
  top: $tabber-height;
  left: 0;
  bottom: 0;
  width: 100%;
}
