@import "config";

.absolute-view {
  display: inline-block;
  position: absolute;
  z-index: 1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .14);
  overflow: hidden;
}
.resize-handler {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  bottom: 0;
  right: 0;
  z-index: 2;
  cursor: nwse-resize;

  border-style: solid;
  border-color: transparent rgba($text-color, 0.3) rgba($text-color, 0.3) transparent;
  border-width: 0.4rem;
  &:hover {
    background: rgba($text-color, 0.8);
  }
}

.navigation-view {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: $primary-background;
  * {
    font-family: "RobotoMono Nerd Font", Roboto, Arial, sans-serif;
  }

  & > div {
    min-width: 100%;
    min-height: 100%;

    & > div {
      position: relative;
    }
  }

  .select-box {
    background: rgba($uml-text, 0.2);
    border: solid 2px $toolbar-color;
    position: absolute;
    z-index: 2;
  }

  input {
    margin: 0;
    padding: 0.1rem;
    border-color: transparent;
    background: transparent;
    display: block;
    color: $uml-text;
    width: 100%;
    &:focus {
      background: $primary-background;
      color: $text-color;
      border-color: $toolbar-color;
    }
  }
}

.selected-view {
  outline: solid 2px $toolbar-color;
}

.drop-target {
  outline: solid 2px $toolbar-color;
  &:after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba($toolbar-color, 0.2);
    display: block;
    position: absolute;
    z-index: 5;
  }
}

.front-end-label {
  &.focus {
    z-index: 1;
  }
  input {
    background-color: rgba($primary-background, .6);
    text-align: center;
    &:hover, &:focus {
      padding: .5rem;
      background-color: rgba($primary-background, .9);
      border: 2px solid $border-color;
      border-radius: $border-radius;
    }

    &:placeholder-shown {
      background: transparent;
    }
  }
}

/*
.jtk-connector, .jtk-endpoint {
  z-index: 1;
}
*/